save.dat
__pycache__
.spyproject
*.zip
steam_autocloud.vdf
custom/deleted
custom/future
custom/*.lua
!custom/TIS100M-*.lua
save/deleted
save/*.txt
save/TIS100M/*/raw
sheets/from_tally
sheets/processed/*_raw.csv
lua51.dll
TIS-100-CXX.exe